@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Public+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Red+Hat+Text:ital,wght@0,500;0,700;1,500;1,700&display=swap');

/* DEFINE VARIABLES */
:root {
  --Font1: 'Public Sans', 'sans-serif';
  --Font2: 'Red Hat Text', 'sans-serif';
  --Font3: 'Fira Code', monospace;
  --color-text: #1f3340;
  --color-em: #155f49;
  --color-accent: #cf7941;
}

body {
      font-family: var(--Font1);
      color: var(--color-text);
    }
    
#maprow {
  width: 100vw;
  height: auto;
  position: relative;
  left: 0;
}
    
#title {
      position: absolute; 
      top: 20px; 
      left: 20px; 
      font-weight: 700; 
      margin: 0; 
      font-size: 24px;
      z-index: 99;
    }
    
#logo {
      position: absolute;
      top: 25px;
      right: 25px;
      z-index: 99;
      width: 40px;
      height: auto;
    }
    
/* CONTROL PANEL ACCORDION*/

#control {
  width: 17%;
  height: auto;
  top: 20px;
  left: 20px;
}

h2 {
  font-family: var(--Font3);
  font-size: 21px;
}

.accordion{
  transform: translateZ(0);
  border-bottom: 1px solid #DDDDDD;
  font-size: 13px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #FFFFFFDD;
  padding: 10px;
}

/* toggle arrow indicator */
.accordion > .accordion-toggle{
  position: absolute;
  opacity: 0;
  display: none;
}

.accordion > label{
  position: relative;
  display: block;
  line-height: 100%;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: var(--color-em);
}

.accordion > label:after {
  content: '+';
  position: absolute;
  top: 0;
  right: 0;
  font-size: 27px;
  margin: 0;
  color: #999999;
  font-weight: normal;
  transform: rotate(0deg);
  transition: .3s transform ease;
}

.accordion > section{
  max-height: 0;
  transition: .3s all ease;
  overflow: hidden;
}

.accordion > section > div{
  padding-top: 10px;
}

.accordion > .accordion-toggle:checked ~ label:after{
 transform: rotate(45deg);
}

.accordion > .accordion-toggle:checked ~ section{
  max-height: 700px;
}

/* Checkbox input options styling */
.checkbox label {margin-left: 10px; padding: 0;}
.checkbox label > input[type="checkbox"] {
  display: none;
}
.checkbox label > input[type="checkbox"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 13px;
  line-height: 100%;
  margin: auto 5px auto 0;
  border-radius: 20%;
  border: 1.5px solid #999999;
}
.checkbox label > input[type="checkbox"]:checked + * {
  color: var(--color-text);
}

.checkbox label > input[type="checkbox"] + * {
  color: #999999;
}

.checkbox label > input[type="checkbox"]:checked + *::before {
  content: '\2715';
  color: var(--color-text);
  line-height: 85%;
  position: relative;
  font-size: 12px;
  text-align: center;
  border-color: var(--color-text);
}

.btn, .btn-default, .action-button {
  background-color: #transparent;
  border: 1.5px solid var(--color-text);
  padding: 7px 10px;
  line-height: 90%;
  border-radius: 10px;
  color: var(--color-text);
  font-family: var(--Font3);
  font-size: 14px;
}

button:hover, .btn:hover, .btn-default:hover, .action-button:hover {
  border-color: var(--color-accent);
  color: var(--color-accent);
  background-color: #FFFFFF;
}

#count {
  width: 50%;
  height: 150px;
  position: relative;
  top: 50px;
  left: 25%;
  text-align: center;
}

#count .col-sm-1 {
  width: 20%;
}

#count h1 { /* changing summary numbers */
      font-weight: normal;
      font-family: var(--Font3);
      font-size: 50px;
      margin: 0;
      line-height: 100%;
    }
#count h4 { /* summary number labels */
      font-weight: 600;
      font-family: 'Public Sans', 'sans-serif';
      margin: 4px 0;
      font-size: 16px;
    }
    
/* Sliding input bar */
.irs-bar, .irs-to, .irs-from {
      background-color: var(--color-accent); border: none;
    }
    
/* Leaflet map styling */
.leaflet .legend {
    font-family: 'Public Sans', 'sans-serif';
    font-size: 11px;
  }
  
.leaflet-popup-content {font-family: 'Public Sans', 'sans-serif';}
    
.leaflet-popup-wrapper {border: none;}
    
.leaflet-popup-content h5 {
    font-weight: 500;
    font-family: var(--Font2);
    font-size: 18px;
    color: var(--color-em);
    line-height: 110%;
    margin: 0 0 6px 0;
  
}
    
.leaflet-popup-content h6 {
      font-weight: 600;
      font-family: 'Public Sans', 'sans-serif';
      font-size: 14px;
      line-height: 100%;
      margin: 0 0 10px 0;
      
    }
    .leaflet-control-zoom {top: 440px;}
    .col-sm-1 {width: auto; padding: 0 15px;}