@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Public+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Barlow:ital,wght@0,500;0,700;1,500;1,700&display=swap');

/* DEFINE VARIABLES */
:root {
  --Font1: 'Public Sans', 'sans-serif';
  --Font2: 'Barlow', 'sans-serif';
  --Font3: 'Fira Code', monospace;
  --color-text: #1f3340;
  --color-em: #155f49;
  --color-accent: #cf7941;
}

body {
      font-family: var(--Font1);
      color: var(--color-text);
    }

#mapwrap {
	width: 100vw;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	margin:0;
}

#trendwrap {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 100%;
	left: 0;
}

#StudyMap {
	width: 100%;
	height: 100%;
	visibility: inherit;
	position: relative;
	bottom: 0px;
}
    
#maprow {
    width: 100vw;
    height: calc(100% - 120px);
    position: absolute;
    left: 0;
    top: 120px;
    margin: 0;
    padding: 0;
}
}
    
#title {
      position: absolute; 
      top: 20px; 
      left: 20px; 
      font-weight: 700; 
      margin: 0; 
      font-size: 24px;
      z-index: 99;
    }
    
#logo {
      position: absolute;
      top: 25px;
      right: 25px;
      z-index: 99;
      width: 40px;
      height: auto;
    }

 #count {
  width: 100%;
  min-height: 80px;
  height: auto;
  position: absolute;
  top: 30px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: start
}

#count .stat {
  flex: 0 0 auto;
  margin: 0 15px 15px 15px;
  min-width: 100px;
  width: auto;
  text-align: center;
}



#count h1 { /* changing summary numbers */
      font-weight: normal;
      font-family: var(--Font3);
      font-size: 50px;
      margin: 0;
      line-height: 100%;
    }
#count h4 { /* summary number labels */
      font-weight: bold;
      font-family: var(--Font2);
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 4px 0;
      font-size: 14px;
    }
    
/* CONTROL PANEL ACCORDION*/

#control {
  width: 17%;
  height: auto;
  top: 20px;
  left: 20px;
  z-index: 50!important;
}

h2 {
  font-family: var(--Font3);
  font-size: 21px;
}

.accordion{
  transform: translateZ(0);
  border-bottom: 1px solid #DDDDDD;
  font-size: 13px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #FFFFFFDD;
  padding: 10px;
}

/* toggle arrow indicator */
.accordion > .accordion-toggle{
  position: absolute;
  opacity: 0;
  display: none;
}

.accordion > label{
  position: relative;
  display: block;
  line-height: 100%;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: var(--color-em);
}

.accordion > label:after {
  content: '+';
  position: absolute;
  top: 0;
  right: 0;
  font-size: 27px;
  margin: 0;
  color: #999999;
  font-weight: normal;
  transform: rotate(0deg);
  transition: .3s transform ease;
}

.accordion > section{
  max-height: 0;
  transition: .3s all ease;
  overflow: hidden;
}

.accordion > section > div{
  padding-top: 10px;
}

.accordion > .accordion-toggle:checked ~ label:after{
 transform: rotate(45deg);
}

.accordion > .accordion-toggle:checked ~ section{
  max-height: 700px;
}

/* Checkbox input options styling */
.checkbox label {margin-left: 10px; padding: 0;}
.checkbox label > input[type="checkbox"] {
  display: none;
}
.checkbox label > input[type="checkbox"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 13px;
  line-height: 100%;
  margin: auto 5px auto 0;
  border-radius: 20%;
  border: 1.5px solid #999999;
}
.checkbox label > input[type="checkbox"]:checked + * {
  color: var(--color-text);
}

.checkbox label > input[type="checkbox"] + * {
  color: #999999;
}

.checkbox label > input[type="checkbox"]:checked + *::before {
  content: '\2715';
  color: var(--color-text);
  line-height: 85%;
  position: relative;
  font-size: 12px;
  text-align: center;
  border-color: var(--color-text);
}

.btn, .btn-default, .action-button {
  background-color: #transparent;
  border: 1.5px solid var(--color-text);
  padding: 7px 10px;
  line-height: 90%;
  border-radius: 10px;
  color: var(--color-text);
  font-family: var(--Font3);
  font-size: 14px;
}

button:hover, .btn:hover, .btn-default:hover, .action-button:hover {
  border-color: var(--color-accent);
  color: var(--color-accent);
  background-color: #FFFFFF;
}


    
/* Sliding input bar */
.irs-bar, .irs-to, .irs-from {
      background-color: var(--color-accent); border: none;
    }
    
/* Leaflet map styling */
.leaflet .legend {
    font-family: 'Public Sans', 'sans-serif';
    font-size: 11px;
  }
  
.leaflet-popup-content {font-family: 'Public Sans', 'sans-serif'; z-index: 99; font-size: 13px;}
    
.leaflet-popup-wrapper {border: none; z-index: 99;}
    
.leaflet-popup-content h5 {
    font-weight: bold;
    font-family: var(--Font1);
    font-size: 16px;
    color: var(--color-em);
    line-height: 110%;
    margin: 0 0 6px 0;
  
}

.marker-cluster {
  width: 20px!important;
  height: 20px!important;
  margin-left: -15px;
  margin-top: -15px;
}

.marker-cluster div span {
	line-height: 22px!important;
	font-family: var(--Font2)!important;
	font-weight:500!important;
	color: var(--color-text)!important;
}

.marker-cluster:hover div span {
	color: #FFFFFF!important;
}

.marker-cluster-large, .marker-cluster-medium, .marker-cluster-small {
	background-color: transparent!important;
}

.marker-cluster-large div {
	background-color: #FFFFFFAA!important;
	border: 2px solid var(--color-text)!important;
	font-family: var(--Font2)!important;
	font-weight:500!important;
	font-size: 15px!important;
}

.marker-cluster-large:hover div {
	background-color: #cf7941!important;
	color: #FFFFFF!important;
}

.marker-cluster-medium div {
	background-color: #FFFFFFAA!important;
	border: 2px solid var(--color-text)!important;
	font-family: var(--Font2)!important;
	font-weight: 500!important;
	font-size: 16px!important;
	transform: scale(0.9)!important;
}

.marker-cluster-medium:hover div {
	background-color: #cf7941!important;
	color: #FFFFFF!important;}

.marker-cluster-small div {
	background-color: #FFFFFFAA!important;
	border: 2px solid var(--color-text)!important;
	font-family: var(--Font2)!important;
	font-weight: 500!important;
	font-size: 18px!important;
	transform: scale(0.8)!important;
}

.marker-cluster-small:hover div {
	background-color: #cf7941!important;
	color: #FFFFFF!important;}

path.leaflet-interactive {
	opacity: 0.8!important;
}

path.leaflet-interactive:hover {
	opacity: 1.0!important;
}
    
.leaflet-popup-content h6 {
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: var(--Font2);
      font-size: 12.5px;
      line-height: 120%;
      margin: 6px 0 10px 0;
      
    }
    .leaflet-control-zoom {top: 440px;}
    .col-sm-1 {width: auto; padding: 0 15px;}