@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Libre+Franklin:ital,wght@0,400;0,600;0,700;1,400;1,700&family=Red+Hat+Text:ital,wght@0,400;0,500;1,400;1,500&display=swap');

/* DEFINE VARIABLES */
:root {
  --Font1: 'Libre Franklin', sans-serif;
  --Font2: 'Red Hat Text', sans-serif;
  --Font3: 'Fira Code', monospace;
  --color-text: #1f3340;
  --color-em: #155f49;
  --color-accent: #cf7941;
}

body {
      font-family: var(--Font1);
      color: var(--color-text);
      overflow-y: hidden;
    }

#mapwrap {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin:0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  align-content: start
}

#StudyMap {
  width: 100%;
  height: 100%!important;
  visibility: inherit;
  position: relative;
  bottom: 0px;
}
    
#maprow {
    flex: 0 0 auto;
    position: relative;
    width: 100vw;
    height: calc(100% - 160px);
    margin: 0;
    padding: 0;
}
    
#title {
      position: absolute; 
      top: 20px; 
      left: 20px; 
      font-weight: 700; 
      margin: 0; 
      font-size: 24px;
      z-index: 99;
    }

 #count {
  flex: 0 0 auto;
  width: 100%;
  min-height: 100px;
  box-sizing: border-box;
  padding: 25px;
  height: auto;
  top: 30px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center
}

#count .stat {
  flex: 0 0 auto;
  margin: 10px 20px;
  min-width: 65px;
  width: auto;
  text-align: center;
}



#count h1 { /* changing summary numbers */
      font-weight: normal;
      font-family: var(--Font3);
      font-size: 60px;
      margin: 0;
      line-height: 100%;
    }
#count h4 { /* summary number labels */
      font-weight: 600;
      font-family: var(--Font1);
      text-transform: lowercase;
      margin: 4px 0;
      font-size: 18px;
    }
    
.warning {
  display: none;
  font-family: var(--Font3), monospace;
  font-size: 15px;
  text-align: center;
  color: var(--color-accent);
  opacity: 0.6;
  margin: 10px;
}
    
/* CONTROL PANEL ACCORDION*/

#control {
  width: 15%;
  height: auto;
  top: 20px;
  left: 20px;
  z-index: 810!important;
  min-width: 200px;
  transition: .3s opacity ease;
}

@media only screen and (max-width: 800px) {
  #control {
    display: none;
    /* small screens don't get to filter */
  }
  
  .warning {display: block;}
}

h2 {
  font-family: var(--Font3);
  font-size: 21px;
}

.accordion{
  transform: translateZ(0);
  border: 1.5px solid var(--color-text);
  font-size: 13px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: #FFFFFFEE;
  padding: 10px;
}

.form-group {
  margin-bottom: 0;
}

.irs-slider {
  border: 1.5px solid var(--color-text);
  box-shadow: none;
  background-color: #FFF;
}

/* toggle arrow indicator */
.accordion > .accordion-toggle{
  position: absolute;
  opacity: 0;
  display: none;
}

.accordion > label{
  position: relative;
  display: block;
  line-height: 100%;
  font-size: 15px;
  font-weight: 500;
  font-family: var(--Font2);
  cursor: pointer;
  color: var(--color-em);
  margin: 2px 0;
}

.accordion > label:after {
  content: '+';
  position: absolute;
  top: 0;
  right: 0;
  line-height: 14px;
  font-size: 28px;
  margin: -2px 0;
  color: var(--color-text);
  font-weight: normal;
  transform: rotate(0deg);
  transition: .3s transform ease;
}

.accordion > section{
  max-height: 0;
  transition: .3s all ease;
  overflow: hidden;
}

.accordion > section > div{
  padding-top: 10px;
}

.accordion > .accordion-toggle:checked ~ label:after{
 transform: rotate(45deg);
}

.accordion > .accordion-toggle:checked ~ section{
  max-height: 700px;
}

/* Checkbox input options styling */
.checkbox label {margin-left: 10px; padding: 0;}
.checkbox label > input[type="checkbox"] {
  display: none;
}
.checkbox label > input[type="checkbox"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 13px;
  line-height: 100%;
  margin: auto 5px auto 0;
  border-radius: 20%;
  border: 1.5px solid #999999;
}
.checkbox label > input[type="checkbox"]:checked + * {
  color: var(--color-text);
}

.checkbox label > input[type="checkbox"] + * {
  color: #999999;
}

.checkbox label > input[type="checkbox"]:checked + *::before {
  content: '\2715';
  color: var(--color-text);
  line-height: 85%;
  position: relative;
  font-size: 12px;
  text-align: center;
  border-color: var(--color-text);
}

.btn, .btn-default, .action-button {
  background-color: #transparent;
  border: 1.5px solid var(--color-text);
  padding: 7px 10px;
  line-height: 90%;
  border-radius: 10px;
  color: var(--color-text);
  font-family: var(--Font3);
  transition: margin ease-in-out 0.2s;
  font-size: 14px;
}

button:hover, .btn:hover, .btn-default:hover, .action-button:hover, #selectall:hover {
  border-color: var(--color-text);
  color: var(--color-text);
  background-color: #FFFFFF;
  margin-top: 2px;
}

button#selectall.btn {
  padding: 5px 7px;
  font-size: 12px;
  margin-top: 8px;
}
    
/* Sliding input bar */
.irs-bar, .irs-to, .irs-from {
      background-color: var(--color-accent)!important; border: none!important;
    }
    
/* Leaflet map styling */
.leaflet .legend {
    font-family: var(--Font1);
    font-size: 11px;
  }
  
/* map tile background */
  .leaflet-container {
    background: #FFF!important;
    outline: 0;
}
  
.leaflet-popup-content {font-family: var(--Font1); z-index: 99!important; font-size: 14px;}
    
.leaflet-popup-wrapper {border: none; z-index: 900!important;}
    
.leaflet-popup-content h5 a, .leaflet-popup-content h5 {
    font-weight: 500;
    font-family: var(--Font2);
    font-size: 18px;
    color: var(--color-em);
    line-height: 120%;
    margin: 0 0 6px 0;
}

a.button {
  display: inline-block;
  padding: 2px 8px;
  border: 1px solid #253A45;
  border-radius: 10px;
  font-family: var(--Font3);
  font-size: 13px;
  text-align: center;
  margin-top: 11px;
  color: #253A45;
  text-decoration: none;
}

a.button:hover {
  color: #FFF;
  background-color: #253A45;
  text-decoration: none;
}
    
.leaflet-popup-content h6 {
      font-weight: 600;
      font-family: var(--Font1);
      font-size: 16px;
      line-height: 120%;
      margin: 6px 0 10px 0;
      
}
    
.leaflet-container a.leaflet-popup-close-button {
  padding: 0;
  margin: 7px 7px 0 0;
  font-size: 22px;
  font-family: monospace;
  font-weight: normal;
  color: var(--color-text);
}

.leaflet-control-container .leaflet-left {
  right: 0!important;
  left: auto!important;
}

.leaflet-control-zoom {
  margin-left: 0;
  margin-right: 10px;
}

.col-sm-1 {width: auto; padding: 0 15px;}

.marker-cluster {
  width: 20px!important;
  height: 20px!important;
  margin-left: -15px;
  margin-top: -15px;
}

.marker-cluster div span {
  line-height: 24px!important;
  font-family: var(--Font3)!important;
  font-weight:500!important;
  color: var(--color-text)!important;
}

.marker-cluster:hover div span {
  color: #FFFFFF!important;
}

.marker-cluster-large, .marker-cluster-medium, .marker-cluster-small, .new-cluster-large, .new-cluster-medium, .new-cluster-small {
  background-color: transparent!important;
}

.marker-cluster-large div {
  background-color: #FFFFFFAA!important;
  border: 2px solid var(--color-text)!important;
  font-family: var(--Font3)!important;
  font-weight:500!important;
  font-size: 15px!important;
}

.marker-cluster-large:hover div {
  background-color: #cf7941!important;
  color: #FFFFFF!important;
}

.marker-cluster-medium div {
  background-color: #FFFFFFAA!important;
  border: 2px solid var(--color-text)!important;
  font-family: var(--Font3)!important;
  font-weight: 500!important;
  font-size: 16px!important;
  transform: scale(0.9)!important;
}

.marker-cluster-medium:hover div {
  background-color: #cf7941!important;
  color: #FFFFFF!important;}

.marker-cluster-small div {
  background-color: #FFFFFFAA!important;
  border: 2px solid var(--color-text)!important;
  font-family: var(--Font3)!important;
  font-weight: 500!important;
  font-size: 18px!important;
  transform: scale(0.8)!important;
}

.marker-cluster-small:hover div {
  background-color: #cf7941!important;
  color: #FFFFFF!important;
}

/* marker clusters for new studies */

.new {
  border: 2px solid var(--color-accent)!important;
  color: var(--color-accent)!important;
}

.new:hover {
  background-color: var(--color-em);
  border-color: var(--color-em);
  color: #FFFFFF!important;
}
  
  
path.leaflet-interactive {
  opacity: 0.8!important;
}

path.leaflet-interactive:hover {
  opacity: 1.0!important;
}

.info {
  box-shadow: none;
  font-size: 13px!important;
  padding: 10px;
}

.info:first {
  font-size: 12px!important;
}

ul#legend {
  text-align: left;
  margin: 0;
  padding: 0;
}

#legend li {
  line-height: 23px;
  margin: 0;
  list-style: none;
}

.symbol {
  margin-right: 5px;
  display: inline-block;
}

/* Single cell study symbol */
div#legend-study {
  display: inline-block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 2px solid var(--color-em);
  background-color: #5BCAAF;
}

/* Upcoming  cell study symbol */
div#legend-new {
  display: inline-block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 2px solid var(--color-accent);
  background-color: #cf7941aa;
}

/* Study cluster symbol */
div#legend-cluster {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
  border: 1.5px solid var(--color-text);
  background-color: #FFF;
  font-family: var(--Font3);
  font-size: 12px;
  font-weight: 500;
}

/* Hexagon study symbol */

#legend-hex {
  position: relative;
  width: 15px; 
  height: 8.66px;
  background-color: #5BCAAF;
  display: inline-block;
  margin: 3px 5px 3px 1px;
  border-left: solid 1px #155f4966;
  border-right: solid 1px #155f4966;
}

#legend-hex:before,
#legend-hex:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 10.61px;
  height: 10.61px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 1.1967px;
}

#legend-hex:before {
  top: -5.3033px;
  border-top: solid 1.4142px #155f4966;
  border-right: solid 1.4142px #155f4966;
}

#legend-hex:after {
  bottom: -5.3033px;
  border-bottom: solid 1.4142px #155f4966;
  border-left: solid 1.4142px #155f4966;
}

/* new hex */
#legend-newhex {
  position: relative;
  width: 15px; 
  display: inline-block;
  height: 8.66px;
  background-color: #cf7941;
  margin: 3px 5px 3px -3px;
  border-left: solid 1px #cf7941;
  border-right: solid 1px #cf7941;
}

#legend-newhex:before,
#legend-newhex:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 10.61px;
  height: 10.61px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 1.1967px;
}

#legend-newhex:before {
  top: -5.3033px;
  border-top: solid 1.4142px #cf7941;
  border-right: solid 1.4142px #cf7941;
}

#legend-newhex:after {
  bottom: -5.3033px;
  border-bottom: solid 1.4142px #cf7941;
  border-left: solid 1.4142px #cf7941;
}

